/.Activator.java._trace
/.TreeEditorOpener.java._trace
/.TreeExecutableExtensionFactory.java._trace
/.TreeUiModule.java._trace
/.CapellaXtextEditorOpener.java._trace
/.CapellaXtextExecutableExtensionFactory.java._trace
/.CapellaXtextUiModule.java._trace
